NET "red" LOC = "P16";
NET "green" LOC = "P14";
NET "blue" LOC = "P11";
NET "hs_out" LOC = "P21";
NET "vs_out" LOC = "P23";
NET "clk20_in" LOC = "P123";
NET "fpga_btn" LOC = "P47";
NET "led" LOC = "P82";
NET "led2" LOC = "P81";
NET "big_btn" LOC = "P24";
NET "reward[2]" LOC = "P67";
NET "reward[1]" LOC = "P74";
NET "reward[0]" LOC = "P75";
NET "MSB" LOC = "P119";
NET "b2" LOC = "P120";
NET "LSB" LOC = "P121";
//NET "insert_coin" CLOCK_DEDICATED_ROUTE = FALSE;
NET "insert_coin" LOC = "P114";
NET "sw1" LOC = "P62";
NET "sw2" LOC = "P61";
NET "sw3" LOC = "P59";
NET "ready" LOC = "P115";
NET "buzzer" LOC = "P83";